views/elements/footer/footer.htm
<footer class="footer">
    <div class="center">
        <div class="footer__container clearfix">
            <div class="footer__col"><img src="../img/elem/header__logo.png" width="210" alt="Алтим-строй - Официальный дилер ВОЛМА в ЦФО" class="footer__logo">
                <p class="footer__copyright">© 2015 Алтим-Строй<br>Дизайн и разработка сайта - <a href="http://m8digital.ru">M8 Digital</a></p>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="/categories/pgp" class="footer__list-link">Пазогребневые плиты (ПГП)</a></li>
                    <li class="footer__list-item"><a href="/categories/gkl" class="footer__list-link">Гипсокартоновые листы (ГКЛ)</a></li>
                    <li class="footer__list-item"><a href="/categories/uteplitel" class="footer__list-link">Утеплитель</a></li>
                    <li class="footer__list-item"><a href="/categories/shtukaturniye_smesi" class="footer__list-link">Штукатурные смеси</a></li>
                    <li class="footer__list-item"><a href="/categories/plitochniye_klei" class="footer__list-link">Плиточные клеи</a></li>
                    <li class="footer__list-item"><a href="/categories/shpaklevochniye_smesi" class="footer__list-link">Шпаклёвочные смеси</a></li>
                    <li class="footer__list-item"><a href="/categories/smesi_dlya_pola" class="footer__list-link">Смеси для выравнивания пола</a></li>
                    <li class="footer__list-item"><a href="/categories/montazhniye_smesi" class="footer__list-link">Монтажные смеси</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <ul class="footer__list">
                    <li class="footer__list-item"> <a href="/#s-advantages" class="footer__list-link">Преимущества</a></li>
                    <li class="footer__list-item"> <a href="/#s-package" class="footer__list-link">Комлектация объектов</a></li>
                    <li class="footer__list-item"> <a href="/#s-director" class="footer__list-link">О компании</a></li>
                    <li class="footer__list-item"> <a href="/#s-delivery" class="footer__list-link">Доставка и оплата</a></li>
                    <li class="footer__list-item"> <a href="/#s-created" class="footer__list-link">Объекты</a></li>
                    <li class="footer__list-item"> <a href="/#s-videos" class="footer__list-link">Видео</a></li>
                    <li class="footer__list-item"> <a href="/#s-feedbacks" class="footer__list-link">Отзывы</a></li>
                    <li class="footer__list-item"> <a href="/#s-contacts" class="footer__list-link">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__col">
                <p class="footer__tel"><a href="tel:74950000001">+7 (495) 000-00-01</a></p>
                <p class="footer__time">ПН - ПТ с 9:00 до 19:00</p>
                <p class="footer__mail"><a href="mailto:sales@altimstroy.ru">sales@altimstroy.ru</a></p><a href="#" data-win="popup--lead" class="open-popup footer__btn">Оставить заявку</a>
            </div>
        </div>
    </div>
</footer>

views/elements/footer/footer.jade
footer.footer
	.center
		.footer__container.clearfix
			.footer__col
				img(src='../img/elem/header__logo.png', width='210', alt='Алтим-строй - Официальный дилер ВОЛМА в ЦФО').footer__logo
				p.footer__copyright © 2015 Алтим-Строй
					br
					| Дизайн и разработка сайта - 
					a(href='http://m8digital.ru') M8 Digital
			.footer__col
				ul.footer__list
					li.footer__list-item
						a(href='/categories/pgp').footer__list-link Пазогребневые плиты (ПГП)
					li.footer__list-item
						a(href='/categories/gkl').footer__list-link Гипсокартоновые листы (ГКЛ)
					li.footer__list-item
						a(href='/categories/uteplitel').footer__list-link Утеплитель
					li.footer__list-item
						a(href='/categories/shtukaturniye_smesi').footer__list-link Штукатурные смеси
					li.footer__list-item
						a(href='/categories/plitochniye_klei').footer__list-link Плиточные клеи
					li.footer__list-item
						a(href='/categories/shpaklevochniye_smesi').footer__list-link Шпаклёвочные смеси
					li.footer__list-item
						a(href='/categories/smesi_dlya_pola').footer__list-link Смеси для выравнивания пола
					li.footer__list-item
						a(href='/categories/montazhniye_smesi').footer__list-link Монтажные смеси
			.footer__col
				ul.footer__list
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-advantages':'/#s-advantages').footer__list-link Преимущества
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-package':'/#s-package').footer__list-link Комлектация объектов
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-director':'/#s-director').footer__list-link О компании
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-delivery':'/#s-delivery').footer__list-link Доставка и оплата
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-created':'/#s-created').footer__list-link Объекты
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-videos':'/#s-videos').footer__list-link Видео
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-feedbacks':'/#s-feedbacks').footer__list-link Отзывы
					li.footer__list-item 
						a(href=(pageName=='home') ? '#s-contacts':'/#s-contacts').footer__list-link Контакты
			.footer__col
				p.footer__tel
					a(href='tel:' + (phone[1])) #{phone[0]}
				p.footer__time ПН - ПТ с 9:00 до 19:00
				p.footer__mail
					a(href='mailto:sales@altimstroy.ru') sales@altimstroy.ru
				a(href='#', data-win='popup--lead').open-popup.footer__btn Оставить заявку
