views/elements/order/order.htm
<section class="order section">
    <div class="center">
        <h2 class="section__heading order__heading">Оформить заказ</h2>
        <div class="order__form-container">
            <form action="/order" method="post" class="order__form validate">
                <div class="clearfix">
                    <fieldset class="order__form-fieldset">
                        <input type="text" name="fio" data-validation="required" data-validation-error-msg="Пожалуйста, введите Ваши фамилию, имя и отчество." required class="order__form-field">
                        <label class="order__form-label">Ф.И.О</label>
                    </fieldset>
                    <fieldset class="order__form-fieldset">
                        <input type="tel" name="tel" data-validation="required" data-validation-error-msg="Пожалуйста, введите корректный телефон." required class="order__form-field">
                        <label class="order__form-label">Ваш телефон *</label>
                    </fieldset>
                    <fieldset class="order__form-fieldset">
                        <input type="email" name="email" data-validation="required" data-validation-error-msg="Пожалуйста, введите корректный Email." required class="order__form-field">
                        <label class="order__form-label">Ваш email</label>
                    </fieldset>
                    <fieldset class="order__form-fieldset">
                        <input type="text" name="city" required class="order__form-field">
                        <label class="order__form-label">Город или населенный пункт</label>
                    </fieldset>
                    <fieldset class="order__form-fieldset">
                        <input type="text" name="address" required class="order__form-field">
                        <label class="order__form-label">Адрес доставки</label>
                    </fieldset>
                    <fieldset class="order__form-fieldset">
                        <input type="text" name="delivery_date" required class="order__form-field">
                        <label class="order__form-label">Дата поставки</label>
                    </fieldset>
                </div>
                <h3 class="order__subheading">Вы являетесь:</h3>
                <div class="order__choser clearfix js-choser"><a href="#" title="Бригадный подрядчик" class="js-choser__elem order__choser-element">Бригадный подрядчик</a><a href="#" title="Магазин или закупочная база" class="js-choser__elem order__choser-element">Магазин или закупочная база</a><a href="#" title="Строительная кампания" class="js-choser__elem order__choser-element">Строительная кампания</a></div>
                <div class="order__comment">
                    <div class="order__comment-block order__comment-block--hidden">
                        <textarea placeholder="Комментарий к заказу" name="comment" class="order__form-field order__form-field--textarea"></textarea>
                    </div><a href="#" title="Добавить комментарий к заказу" class="order__comment-add">+ Добавить комментарий к заказу</a>
                </div>
                <input type="submit" name="form_submit" value="Подтвердить заказ" onclick="_gaq.push(['_trackEvent', 'Подтвердить заказ', 'click']);" class="order__form-submit btn btn--green">
                <p class="order__form-info">После оформления мы пришлем вам email с подтверждением заказа</p>
            </form>
        </div>
    </div>
</section>

views/elements/order/order.jade
section.order.section
	.center
		h2.section__heading.order__heading Оформить заказ
		.order__form-container
			form(action='http://volma-opt.ru:3000/order', method='post').order__form.validate
				.clearfix
					fieldset.order__form-fieldset
						input(type='text', name='fio', data-validation='required', data-validation-error-msg='Пожалуйста, введите Ваши фамилию, имя и отчество.', required).order__form-field
						label.order__form-label Ф.И.О
					fieldset.order__form-fieldset
						input(type='tel', name='tel', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный телефон.', required).order__form-field
						label.order__form-label Ваш телефон *
					fieldset.order__form-fieldset
						input(type='email', name='email', data-validation='required', data-validation-error-msg='Пожалуйста, введите корректный Email.', required).order__form-field
						label.order__form-label Ваш email
					fieldset.order__form-fieldset
						input(type='text', name='city', required).order__form-field
						label.order__form-label Город или населенный пункт
					fieldset.order__form-fieldset
						input(type='text', name='address', required).order__form-field
						label.order__form-label Адрес доставки
					fieldset.order__form-fieldset
						input(type='text', name='delivery_date', required).order__form-field
						label.order__form-label Дата поставки
				h3.order__subheading Вы являетесь:
				.order__choser.clearfix.js-choser
					a(href='#', title='Бригадный подрядчик').js-choser__elem.order__choser-element Бригадный подрядчик
					a(href='#', title='Магазин или закупочная база').js-choser__elem.order__choser-element Магазин или закупочная база
					a(href='#', title='Строительная кампания').js-choser__elem.order__choser-element Строительная кампания
				.order__comment
					.order__comment-block.order__comment-block--hidden
						textarea(placeholder='Комментарий к заказу', name='comment').order__form-field.order__form-field--textarea
					a(href='#', title='Добавить комментарий к заказу').order__comment-add + Добавить комментарий к заказу
				input(type='submit', name='form_submit', value='Подтвердить заказ', onclick='_gaq.push(["_trackEvent", "Подтвердить заказ", "click"]);').order__form-submit.btn.btn--green
				p.order__form-info После оформления мы пришлем вам email с подтверждением заказа
