views/pages/cp.jade
doctype html
html
	head
		meta(charset='UTF-8')
		link(href='/img/elem/favicon.png', rel='shortcut icon')
		title Алтим Строй – Официальный дилер Волма в ЦФО
		link(href='/css/cp.css', rel='stylesheet')
	body
		section#admin.admin
			.center
				if(!admin)
					.admin__content
						.admin__form-wrapper
							form(action="/cp/auth", method="post").admin__form
								if(err)
									h2 #{err}
								else
									h2 Пожалуйста, авторизуйтесь!
								fieldset.admin__form-fieldset
									label.admin__form-label Логин
									input(type='text', name='login', required).admin__form-field
								fieldset.admin__form-fieldset
									label.admin__form-label Пароль
									input(type='password', name='password', required).admin__form-field
								fieldset.admin__form-fieldset
									input(type="submit", value="Авторизоваться").admin__form-submit
				else
					.admin__content
						.admin__form-wrapper
							if(success)
								h1 Данные успешно импортированы!
							form(action="/cp/upload", method="post", enctype="multipart/form-data").admin__form
								p prices.xlsx:
								fieldset.admin__form-fieldset
									input(type="file", name="pricesFile").admin__form-field
								fieldset.admin__form-fieldset
									input(type="submit", value="Загрузить").admin__form-submit
							p.admin__exit
								a(href='/cp/logout').admin__exit-link Выйти

html/jade_output/cp.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="/img/elem/favicon.png" rel="shortcut icon">
    <title>Алтим Строй – Официальный дилер Волма в ЦФО</title>
    <link href="/css/cp.css" rel="stylesheet">
  </head>
  <body>
    <section id="admin" class="admin">
      <div class="center">
        <div class="admin__content">
          <div class="admin__form-wrapper">
            <form action="/cp/auth" method="post" class="admin__form">
              <h2>Пожалуйста, авторизуйтесь!</h2>
              <fieldset class="admin__form-fieldset">
                <label class="admin__form-label">Логин</label>
                <input type="text" name="login" required class="admin__form-field">
              </fieldset>
              <fieldset class="admin__form-fieldset">
                <label class="admin__form-label">Пароль</label>
                <input type="password" name="password" required class="admin__form-field">
              </fieldset>
              <fieldset class="admin__form-fieldset">
                <input type="submit" value="Авторизоваться" class="admin__form-submit">
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
