views/elements/header/header.jade
section.top#s-top
header.header#s-header
	.header__top
		.center
			a(href='/').header__logo
				img(src='../img/elem/header__logo.png', alt='Алтим-строй - Официальный дилер ВОЛМА в ЦФО')
			ul.header__navigation.clearfix
				li.header__navigation-item
					a(href=(pageName=='home') ? '#s-director':'/#s-director', title='О компании').header__navigation-link О компании
				li.header__navigation-item
					a(href=(pageName=='home') ? '#s-delivery':'/#s-delivery', title='Доставка и оплата').header__navigation-link Доставка и оплата
				li.header__navigation-item
					a(href=(pageName=='home') ? '#s-contacts':'/#s-contacts', title='Контакты').header__navigation-link Контакты
				li.header__navigation-item
					a(href=(pageName=='home') ? '#s-package':'/#s-package', title='Комлектация объектов').header__navigation-link Комлектация объектов
			- if (cart_cost > 0) {
				a(href='/cart', title='Перейти в корзину').header__basket.header__basket--filled
					p.header__basket-label сумма:
					p.header__basket-sum #{cart_cost.toFixed()}
					p.header__basket-empty Корзина 
						br
						| пуста
			- } else {
				a(href='/cart', title='Перейти в корзину').header__basket.header__basket--empty
					p.header__basket-label сумма:
					p.header__basket-sum #{cart_cost.toFixed()}
					p.header__basket-empty Корзина 
						br
						| пуста
			- }
			.header__contacts
				p.header__contacts-text.header__contacts-text--phone 
					a(href='tel:' + (phone[1])) #{phone[0]}
				p.header__contacts-text.header__contacts-text--time ПН - ПТ с 9:00 до 19:00
	.header__bottom
		.center
			.header__menu.clearfix
				.header__menu-item(class= (pageName=='pgp') ? 'header__menu-item--active':'')
					a(href='/categories/pgp', title='Пазогребневые плиты (ПГП)').header__menu-link
						span ПГП
				.header__menu-item(class= (pageName=='utep') ? 'header__menu-item--active':'')
					a(href='/categories/uteplitel', title='Утеплитель').header__menu-link
						span Утеплитель
				.header__menu-item(class= (pageName=='plit') ? 'header__menu-item--active':'')
					a(href='/categories/plitochniye_klei', title='Плиточные клеи').header__menu-link
						span Плиточные клеи
				.header__menu-item(class= (pageName=='pol') ? 'header__menu-item--active':'')
					a(href='/categories/smesi_dlya_pola', title='Смеси для выравнивания пола').header__menu-link
						span Ровнители пола
				.header__menu-item(class= (pageName=='gkl') ? 'header__menu-item--active':'')
					a(href='/categories/gkl', title='Гипсокартон (ГКЛ)').header__menu-link
						span Гипсокартон
				.header__menu-item(class= (pageName=='shtuk') ? 'header__menu-item--active':'')
					a(href='/categories/shtukaturniye_smesi', title='Штукатурные смеси').header__menu-link
						span Штукатурка
				.header__menu-item(class= (pageName=='shpak') ? 'header__menu-item--active':'')
					a(href='/categories/shpaklevochniye_smesi', title='Шпаклёвочные смеси').header__menu-link
						span Шпаклевка
				.header__menu-item(class= (pageName=='mont') ? 'header__menu-item--active':'')
					a(href='/categories/montazhniye_smesi', title='Монтажные смеси').header__menu-link
						span Монтажные смеси

views/elements/header/header.htm
<section id="s-top" class="top"></section>
<header id="s-header" class="header">
    <div class="header__top">
        <div class="center"><a href="/" class="header__logo"><img src="../img/elem/header__logo.png" alt="Алтим-строй - Официальный дилер ВОЛМА в ЦФО"></a>
            <ul class="header__navigation clearfix">
                <li class="header__navigation-item"><a href="/#s-director" title="О компании" class="header__navigation-link">О компании</a></li>
                <li class="header__navigation-item"><a href="/#s-delivery" title="Доставка и оплата" class="header__navigation-link">Доставка и оплата</a></li>
                <li class="header__navigation-item"><a href="/#s-contacts" title="Контакты" class="header__navigation-link">Контакты</a></li>
                <li class="header__navigation-item"><a href="/#s-package" title="Комлектация объектов" class="header__navigation-link">Комлектация объектов</a></li>
            </ul>
			<% if @cart_cost > 0 : %>
				<a href="/cart" title="Перейти в корзину" class="header__basket header__basket--filled">
					<p class="header__basket-label">сумма:</p>
					<p class="header__basket-sum"><%= @cart_cost.toFixed() %></p>
					<p class="header__basket-empty">Корзина <br>пуста</p></a>
			<% else: %>
				<a href="/cart" title="Перейти в корзину" class="header__basket header__basket--empty">
					<p class="header__basket-label">сумма:</p>
					<p class="header__basket-sum"><%= @cart_cost.toFixed() %></p>
					<p class="header__basket-empty">Корзина <br>пуста</p></a>
			<% end %>
            <div class="header__contacts">
                <p class="header__contacts-text header__contacts-text--phone"> <a href="tel:74950000001">+7 (495) 000-00-01</a></p>
                <p class="header__contacts-text header__contacts-text--time">ПН - ПТ с 9:00 до 19:00</p>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="center">
            <div class="header__menu clearfix">
                <% pageName = content 'pagename' %>
                <div class="header__menu-item <%- if pageName is 'pgp' then 'header__menu-item--active' else '' %>"><a href="/categories/pgp" title="Пазогребневые плиты (ПГП)" class="header__menu-link"><span>ПГП</span></a></div>
                <div class="header__menu-item <%- if pageName is 'utep' then 'header__menu-item--active' else '' %>"><a href="/categories/uteplitel" title="Утеплитель" class="header__menu-link"><span>Утеплитель</span></a></div>
                <div class="header__menu-item <%- if pageName is 'plit' then 'header__menu-item--active' else '' %>"><a href="/categories/plitochniye_klei" title="Плиточные клеи" class="header__menu-link"><span>Плиточные клеи</span></a></div>
                <div class="header__menu-item <%- if pageName is 'pol' then 'header__menu-item--active' else '' %>"><a href="/categories/smesi_dlya_pola" title="Смеси для выравнивания пола" class="header__menu-link"><span>Ровнители пола</span></a></div>
                <div class="header__menu-item <%- if pageName is 'gkl' then 'header__menu-item--active' else '' %>"><a href="/categories/gkl" title="Гипсокартон (ГКЛ)" class="header__menu-link"><span>Гипсокартон</span></a></div>
                <div class="header__menu-item <%- if pageName is 'shtuk' then 'header__menu-item--active' else '' %>"><a href="/categories/shtukaturniye_smesi" title="Штукатурные смеси" class="header__menu-link"><span>Штукатурка</span></a></div>
                <div class="header__menu-item <%- if pageName is 'shpak' then 'header__menu-item--active' else '' %>"><a href="/categories/shpaklevochniye_smesi" title="Шпаклёвочные смеси" class="header__menu-link"><span>Шпаклевка</span></a></div>
                <div class="header__menu-item <%- if pageName is 'mont' then 'header__menu-item--active' else '' %>"><a href="/categories/montazhniye_smesi" title="Монтажные смеси" class="header__menu-link"><span>Монтажные смеси</span></a></div>
            </div>
        </div>
    </div>
</header>
