views/elements/map/map.htm
<section class="map section">
    <div class="center">
        <h2 class="section__heading map__heading">Отгрузка с любого ближайшего к Вам завода или склада</h2>
    </div>
    <div class="map__container">
        <div id="map__block" class="map__block"></div>
    </div>
</section>

views/elements/map/map.jade
section.map.section
	.center
		h2.section__heading.map__heading Отгрузка с любого ближайшего к Вам завода или склада
	.map__container
		.map__block#map__block
		//- .map__infobox-wrapper
		//- 	#map__infobox
		//- 		p г. Тверь,
		//- 			br
		//- 			| ул. Авангардная, 25 а
